*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
div{ width: 206px;
    height: 209px;
    margin: 0 auto;
    margin-top: 200px;
    background-image: url(./img2.png);
}

img:hover{
    opacity: 0;
    transition:.5s ease all ;
}
